/* custom / plain css */

.container {
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 10px;
}
/* span color of product description */
.special-color{
    color: rgb(243, 74, 7);
}





/*============== if any problem occurs, requesting to visit my netlify live link below ===========

============================= https://assignment-macbook.netlify.app/ ============================

======================= thanks a lot for your precious time , best regards ========================*/